<my-navbar></my-navbar>
<div class="container-fluid" style="background-image: url(./assets/beach6.jpg);">
    <div class="row align-items-center justify-content-center">
        <img class="profile" src="./assets/arun.jpg" alt="Profile Image" />
    </div>
    <div class="row align-items-center justify-content-center">
        <h2 style="color:#F5F5F5;font-weight:400;">Arun Gadag</h2>
    </div>
    <div class="row align-items-center justify-content-center">
        <p style="color:#E0E0E0; margin-bottom:0px;">Associate Software Developer, Bangalore, KA</p>
    </div>
    <div class="row align-items-center justify-content-center">
        <p style="color:#424242;">arungadag.com</p>
    </div><br/><br/><br/>
    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-light" style="background-color:transparent;">
            <button class="navbar-toggler navbar-toggler-end" type="button" data-toggle="collapse" data-target="#navbarLists" aria-controls="navbarLists" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarLists" style="margin-left:30%;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;font-weight:600;" routerLink='/profile' routerLinkActive='active'>ARUN'S FEEDS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;font-weight:600;" routerLink='/followers' routerLinkActive='active'>2,542 FOLLOWERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;font-weight:600;" routerLink='/following' routerLinkActive='active'>517 FOLLOWING</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<br/>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-1">
            <img src="./assets/beach.jpg" alt="Profile" style="height:40px;width:40px;" />
        </div>
        <div class="col-6">
            <div class="row">
                <h5>Title name</h5>
            </div>
            <div class="row">
                <div class="col-3 text-muted">
                    <small>12,836 Posts</small>
                </div>
                <div class="col-3 text-muted">
                    <small>18,779 Followers</small>
                </div>
                <div class="col-3 text-muted">
                    <small>5,890 Following</small>
                </div>
            </div>
        </div>
        <div class="col-1">
            <section title="squaredTwo">
                <!-- .squaredTwo -->
                <div class="squaredTwo">
                    <input type="checkbox" value="None" id="squaredTwo1" name="check" checked />
                    <label for="squaredTwo1"></label>
                </div>
                <!-- end .squaredTwo -->
            </section>
        </div>
    </div>
    <hr style="width:70%;" />
    <div class="row justify-content-center">
        <div class="col-1">
            <img src="./assets/beach.jpg" alt="Profile" style="height:40px;width:40px;" />
        </div>
        <div class="col-6">
            <div class="row">
                <h5>Title name</h5>
            </div>
            <div class="row">
                <div class="col-3 text-muted">
                    <small>12,836 Posts</small>
                </div>
                <div class="col-3 text-muted">
                    <small>18,779 Followers</small>
                </div>
                <div class="col-3 text-muted">
                    <small>5,890 Following</small>
                </div>
            </div>
        </div>
        <div class="col-1">
            <section title="squaredTwo">
                <!-- .squaredTwo -->
                <div class="squaredTwo">
                    <input type="checkbox" value="None" id="squaredTwo2" name="check" checked />
                    <label for="squaredTwo2"></label>
                </div>
                <!-- end .squaredTwo -->
            </section>
        </div>
    </div>
    <hr style="width:70%;" />
    <div class="row justify-content-center">
        <div class="col-1">
            <img src="./assets/beach.jpg" alt="Profile" style="height:40px;width:40px;" />
        </div>
        <div class="col-6">
            <div class="row">
                <h5>Title name</h5>
            </div>
            <div class="row">
                <div class="col-3 text-muted">
                    <small>12,836 Posts</small>
                </div>
                <div class="col-3 text-muted">
                    <small>18,779 Followers</small>
                </div>
                <div class="col-3 text-muted">
                    <small>5,890 Following</small>
                </div>
            </div>
        </div>
        <div class="col-1">
            <section title="squaredTwo">
                <!-- .squaredTwo -->
                <div class="squaredTwo">
                    <input type="checkbox" value="None" id="squaredTwo3" name="check" checked />
                    <label for="squaredTwo3"></label>
                </div>
                <!-- end .squaredTwo -->
            </section>
        </div>
    </div>
    <hr style="width:70%;" />
    <div class="row justify-content-center">
        <div class="col-1">
            <img src="./assets/beach.jpg" alt="Profile" style="height:40px;width:40px;" />
        </div>
        <div class="col-6">
            <div class="row">
                <h5>Title name</h5>
            </div>
            <div class="row">
                <div class="col-3 text-muted">
                    <small>12,836 Posts</small>
                </div>
                <div class="col-3 text-muted">
                    <small>18,779 Followers</small>
                </div>
                <div class="col-3 text-muted">
                    <small>5,890 Following</small>
                </div>
            </div>
        </div>
        <div class="col-1">
            <section title="squaredTwo">
                <!-- .squaredTwo -->
                <div class="squaredTwo">
                    <input type="checkbox" value="None" id="squaredTwo7" name="check" checked />
                    <label for="squaredTwo7"></label>
                </div>
                <!-- end .squaredTwo -->
            </section>
        </div>
    </div>
    <hr style="width:70%;" />
    <div class="row justify-content-center">
        <div class="col-1">
            <img src="./assets/beach.jpg" alt="Profile" style="height:40px;width:40px;" />
        </div>
        <div class="col-6">
            <div class="row">
                <h5>Title name</h5>
            </div>
            <div class="row">
                <div class="col-3 text-muted">
                    <small>12,836 Posts</small>
                </div>
                <div class="col-3 text-muted">
                    <small>18,779 Followers</small>
                </div>
                <div class="col-3 text-muted">
                    <small>5,890 Following</small>
                </div>
            </div>
        </div>
        <div class="col-1">
            <section title="squaredTwo">
                <!-- .squaredTwo -->
                <div class="squaredTwo">
                    <input type="checkbox" value="None" id="squaredTwo4" name="check" checked />
                    <label for="squaredTwo4"></label>
                </div>
                <!-- end .squaredTwo -->
            </section>
        </div>
    </div>
    <hr style="width:70%;" />
    <div class="row justify-content-center">
        <div class="col-1">
            <img src="./assets/beach.jpg" alt="Profile" style="height:40px;width:40px;" />
        </div>
        <div class="col-6">
            <div class="row">
                <h5>Title name</h5>
            </div>
            <div class="row">
                <div class="col-3 text-muted">
                    <small>12,836 Posts</small>
                </div>
                <div class="col-3 text-muted">
                    <small>18,779 Followers</small>
                </div>
                <div class="col-3 text-muted">
                    <small>5,890 Following</small>
                </div>
            </div>
        </div>
        <div class="col-1">
            <section title="squaredTwo">
                <!-- .squaredTwo -->
                <div class="squaredTwo">
                    <input type="checkbox" value="None" id="squaredTwo5" name="check" checked />
                    <label for="squaredTwo5"></label>
                </div>
                <!-- end .squaredTwo -->
            </section>
        </div>
    </div>
    <hr style="width:70%;" />
    <div class="row justify-content-center">
        <div class="col-1">
            <img src="./assets/beach.jpg" alt="Profile" style="height:40px;width:40px;" />
        </div>
        <div class="col-6">
            <div class="row">
                <h5>Title name</h5>
            </div>
            <div class="row">
                <div class="col-3 text-muted">
                    <small>12,836 Posts</small>
                </div>
                <div class="col-3 text-muted">
                    <small>18,779 Followers</small>
                </div>
                <div class="col-3 text-muted">
                    <small>5,890 Following</small>
                </div>
            </div>
        </div>
        <div class="col-1">
            <section title="squaredTwo">
                <!-- .squaredTwo -->
                <div class="squaredTwo">
                    <input type="checkbox" value="None" id="squaredTwo6" name="check" checked />
                    <label for="squaredTwo6"></label>
                </div>
                <!-- end .squaredTwo -->
            </section>
        </div>
    </div>
    <hr style="width:70%;" />
</div>
<br/><br/><br/>
<my-footer></my-footer>