ul {
    list-style-type: none;
}

li {
    display: inline;
    font-size: 11px;
    margin: 15px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #00BFA5;
    font-weight: bold;
    text-decoration: none;
}