<my-navbar></my-navbar>
<div class="container-fluid" style="background-image: url(./assets/beach6.jpg);">
    <div class="row align-items-center justify-content-center">
        <img class="profile" src="./assets/arun.jpg" alt="Profile Image" />
    </div>
    <div class="row align-items-center justify-content-center">
        <h2 style="color:#F5F5F5;font-weight:400;">Arun Gadag</h2>
    </div>
    <div class="row align-items-center justify-content-center">
        <p style="color:#E0E0E0; margin-bottom:0px;">Associate Software Developer, Bangalore, KA</p>
    </div>
    <div class="row align-items-center justify-content-center">
        <p style="color:#424242;">arungadag.com</p>
    </div><br/><br/><br/>

    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-light" style="background-color:transparent;">
            <button class="navbar-toggler navbar-toggler-end" type="button" data-toggle="collapse" data-target="#navbarLists" aria-controls="navbarLists" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarLists" style="margin-left:30%;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;font-weight:600;" routerLink='/profile' routerLinkActive='active'>ARUN'S FEEDS <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;font-weight:600;" routerLink='/followers' routerLinkActive='active'>2,542 FOLLOWERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:#F5F5F5;font-size:12px;font-weight:600;" routerLink='/following' routerLinkActive='active'>517 FOLLOWING</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<br/>
<div class="container">
    <div class="row justify-content-center">
        <div class="col align-self-center offset-md-2">
            <div class="card" style="width:80%;height:auto;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-1">
                            <img src="./assets/arun.jpg" alt="Profile" style="width:40px; height:40px;">
                        </div>
                        <div class="col-11">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-3">
                                        <span style="font-size:20px;">Arun Gadag</span>
                                    </div>
                                    <div class="col-8">
                                        <div class="row justify-content-end">
                                            <span class="text-muted text-right" style="text-align:right;">
                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
    <div class="row justify-content-center">
        <div class="col align-self-center offset-md-2">
            <div class="card" style="width:80%;height:auto;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-1">
                            <img src="./assets/arun.jpg" alt="Profile" style="width:40px; height:40px;">
                        </div>
                        <div class="col-11">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-3">
                                        <span style="font-size:20px;">Arun Gadag</span>
                                    </div>
                                    <div class="col-8">
                                        <div class="row justify-content-end">
                                            <span class="text-muted text-right" style="text-align:right;">
                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
    <div class="row justify-content-center">
        <div class="col align-self-center offset-md-2">
            <div class="card" style="width:80%;height:auto;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-1">
                            <img src="./assets/arun.jpg" alt="Profile" style="width:40px; height:40px;">
                        </div>
                        <div class="col-11">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-3">
                                        <span style="font-size:20px;">Arun Gadag</span>
                                    </div>
                                    <div class="col-8">
                                        <div class="row justify-content-end">
                                            <span class="text-muted text-right" style="text-align:right;">
                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <img class="card-img-bottom" src="./assets/beach.jpg" alt="Card image cap">
            </div>
        </div>
    </div><br/>
    <div class="row justify-content-center">
        <div class="col align-self-center offset-md-2">
            <div class="card" style="width:80%;height:auto;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-1">
                            <img src="./assets/arun.jpg" alt="Profile" style="width:40px; height:40px;">
                        </div>
                        <div class="col-11">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-3">
                                        <span style="font-size:20px;">Arun Gadag</span>
                                    </div>
                                    <div class="col-8">
                                        <div class="row justify-content-end">
                                            <span class="text-muted text-right" style="text-align:right;">
                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
    <div class="row justify-content-center">
        <div class="col align-self-center offset-md-2">
            <div class="card" style="width:80%;height:auto;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-1">
                            <img src="./assets/arun.jpg" alt="Profile" style="width:40px; height:40px;">
                        </div>
                        <div class="col-11">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-3">
                                        <span style="font-size:20px;">Arun Gadag</span>
                                    </div>
                                    <div class="col-8">
                                        <div class="row justify-content-end">
                                            <span class="text-muted text-right" style="text-align:right;">
                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
    <div class="row justify-content-center">
        <div class="col align-self-center offset-md-2">
            <div class="card" style="width:80%;height:auto;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-1">
                            <img src="./assets/arun.jpg" alt="Profile" style="width:40px; height:40px;">
                        </div>
                        <div class="col-11">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-3">
                                        <span style="font-size:20px;">Arun Gadag</span>
                                    </div>
                                    <div class="col-8">
                                        <div class="row justify-content-end">
                                            <span class="text-muted text-right" style="text-align:right;">
                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">instagram.in/arun.gadag/arun.jpg</small></p>
                        </div>
                    </div>
                </div>
                <img class="card-img-bottom" src="./assets/beach1.jpg" alt="Card image cap">
            </div>
        </div>
    </div><br/>
    <div class="row justify-content-center">
        <div class="col align-self-center offset-md-2">
            <div class="card" style="width:80%;height:auto;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-1">
                            <img src="./assets/arun.jpg" alt="Profile" style="width:40px; height:40px;">
                        </div>
                        <div class="col-11">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-3">
                                        <span style="font-size:20px;">Arun Gadag</span>
                                    </div>
                                    <div class="col-8">
                                        <div class="row justify-content-end">
                                            <span class="text-muted text-right" style="text-align:right;">
                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
    <div class="row justify-content-center">
        <div class="col align-self-center offset-md-2">
            <div class="card" style="width:80%;height:auto;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-1">
                            <img src="./assets/arun.jpg" alt="Profile" style="width:40px; height:40px;">
                        </div>
                        <div class="col-11">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-3">
                                        <span style="font-size:20px;">Arun Gadag</span>
                                    </div>
                                    <div class="col-8">
                                        <div class="row justify-content-end">
                                            <span class="text-muted text-right" style="text-align:right;">
                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">instagram.in/arun.gadag/arun.jpg</small></p>
                        </div>
                    </div>
                </div>
                <img class="card-img-bottom" src="./assets/images/1.jpg" alt="Card image cap">
            </div>
        </div>
    </div><br/>
    <div class="row justify-content-center">
        <div class="col align-self-center offset-md-2">
            <div class="card" style="width:80%;height:auto;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-1">
                            <img src="./assets/arun.jpg" alt="Profile" style="width:40px; height:40px;">
                        </div>
                        <div class="col-11">
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-3">
                                        <span style="font-size:20px;">Arun Gadag</span>
                                    </div>
                                    <div class="col-8">
                                        <div class="row justify-content-end">
                                            <span class="text-muted text-right" style="text-align:right;">
                                                <i class="fa fa-reply" aria-hidden="true" style="margin:10px;"></i>
                                                <i class="fa fa-heart-o" aria-hidden="true" style="margin:10px;"></i> 2m
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
</div>
<my-footer></my-footer>