<my-navbar></my-navbar>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 style="margin-top:30px;font-weight:400;">Settings</h2>
            <p style="margin:40px 0px 0px 0px;font-size:12px;font-weight:500;">ACCOUNT</p><br/>
            <div class="row">
                <div class="col-2">
                    <img class="profile" src="./assets/arun.jpg" alt="Profile Image" />
                    <button type="button" class="btn btn-secondary btn-sm changeButton">Change</button>
                </div>
                <div class="col-10">
                    <form>
                        <div class="form-group">
                            <div class="col-10">
                                <div class="input-wrapper">
                                    <input id="stuff" class="form-control" placeholder="User Name">
                                    <label for="stuff" class="fa fa-user-o input-icon" style="margin-left: 8px; color: grey;"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-10">
                                <div class="input-wrapper">
                                    <input id="stuff" class="form-control" placeholder="user@gmail.com">
                                    <label for="stuff" class="fa fa-envelope-o input-icon" style="margin-left: 8px; color: grey;"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-10">
                                <div class="input-wrapper">
                                    <input type="password" id="stuff" class="form-control" placeholder="Password" disabled value="password">
                                    <label for="stuff" class="fa fa-lock input-icon" style="margin-left: 8px; color: grey;"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-10">
                                <div class="input-wrapper">
                                    <input type="password" id="stuff" class="form-control form-control-success" placeholder="Password" value="password">
                                    <label for="stuff" class="fa fa-lock input-icon" style="margin-left: 8px; color: #1DE9B6;"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr/>
            <p style="margin:40px 0px 0px 0px;font-size:12px;font-weight:500;">NOTIFICATIONS</p><br/>
            <div class="row">
                <div class="col-2">
                    <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
                </div>
                <div class="col-10">email me when my posts are marked as favorites</div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
                </div>
                <div class="col-10">email me when I'm mentioned</div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
                </div>
                <div class="col-10">email me when I get reply</div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
                </div>
                <div class="col-10">email me when someone follows me</div>
            </div>
            <hr/>
            <p style="margin:40px 0px 0px 0px;font-size:12px;font-weight:500;">PRIVACY</p><br/>
            <div class="row">
                <div class="col-2">
                    <input type="checkbox" id="test1" name="radio" checked>
                    <label for="test1"></label>
                </div>
                <div class="col-10">allow anyone to tag me</div>
            </div><br/>
            <div class="row">
                <div class="col-2">
                    <input type="checkbox" id="test2" name="radio">
                    <label for="test2"></label>
                </div>
                <div class="col-10">only allow people I follow to tag me</div>
            </div><br/>
            <div class="row">
                <div class="col-2">
                    <input type="checkbox" id="test3" name="radio">
                    <label for="test3"></label>
                </div>
                <div class="col-10">don't allow anyone to tag me</div>
            </div><br/>
            <div class="row">
                <div class="col-2">
                    <input type="checkbox" id="test4" name="radio" checked>
                    <label for="test4"></label>
                </div>
                <div class="col-10">add a location to my posts</div>
            </div><br/>
            <div class="row">
                <div class="col-2">
                    <input type="checkbox" id="test5" name="radio" checked>
                    <label for="test5"></label>
                </div>
                <div class="col-10">let others find me by my email address</div>
            </div><br/>
            <div class="row">
                <div class="col-2">
                    <input type="checkbox" id="test6" name="radio" checked>
                    <label for="test6"></label>
                </div>
                <div class="col-10">tailor ads based on my information</div>
            </div><br/>
            <hr/><br/><br/>
            <button type="button" class="btn btn-secondary save-button">Save Changes</button>
            <br/><br/><br/><br/>
        </div>
    </div>
</div>
<br/>
<my-footer></my-footer>
<br/><br/><br/><br/>